<div ng-controller="EncryptionController">
    <div class="scrollable content-container">
        <div class="scrollable-content overthrow">

            <div class="list-group">
                <div class="list-group-item">
                    <h1>Encryption keys</h1>
                </div>
                
                <div class="list-group-item">
                    <div ng-show="!showEditKeyForm" class="">
                        <button class="btn btn-primary" ng-click="ShowAddEncryptionKey();"><i class="fa fa-plus"></i> </button>
                    </div>

                    <div ng-show="showEditKeyForm">
                        <div>
                            <form ng-show="!showGenerateKeyForm" name="editEncryptionKeyForm" ng-model="currentKey">
                                <div ng-show="!showGenerateKeyForm" class="form-section">
                                    <label>Name</label>
                                    <input type="text" ng-model="currentKey.name" required class="form-control">
                                </div>
                                <div class="form-section">
                                    <label>Alias</label>
                                    <input type="text" ng-model="currentKey.alias" class="form-control">
                                </div>
                                <div ng-show="!showGenerateKeyForm" class="form-section">
                                    <label>Key </label>
                                    <textarea ng-model="currentKey.key" ng-minlength="32" ng-maxlength="64" required class="form-control"></textarea>
                                    <div class="section">
                                        <button class="btn btn-primary btn-sm" ngclipboard ngclipboard-success="clipboardSuccess(e, this);" ngclipboard-error="clipboardError(e);" data-clipboard-text="{{currentKey.key}}">
                                            {{copyButtonText}}
                                        </button>
                                        <button class="btn btn-primary btn-sm pull-right" ng-click="ShowGenerateKey();">
                                            Generate new key
                                        </button>
                                        
                                    </div>
                                    
                                </div>

                                <div class="form-section">
                                    <button class="btn btn-primary" ng-click="CancelEditEncryptionKey();">Cancel</button>
                                    <button ng-hide="newKey" class="btn btn-danger" ng-click="DeleteEncryptionKey(currentKey);">Delete</button>
                                    <button ng-show="!showGenerateKeyForm" class="btn btn-primary" ng-disabled="!editEncryptionKeyForm.$valid" ng-click="SaveEncryptionKey(currentKey);">Save key</button>
                                </div>
                            </form>
                            
                            <form ng-show="showGenerateKeyForm">
                                <div>
                                    <h3>Generate new key</h3>
                                    <div class="form-section">
                                        <label>Bit size</label>
                                        <div>
                                            <input type="radio" ng-model="currentKey.bitSize" value="128" /> <span>128 bit</span>
                                            <input type="radio" ng-model="currentKey.bitSize" value="256" /> <span>256 bit</span>
                                        </div>
                                    </div>
                                    <div class="form-section">
                                        <label>Passphrase</label>
                                        <textarea ng-model="currentKey.passphrase" ng-minlength="3" ng-maxlength="50" class="form-control"></textarea>
                                    </div>
                                    <div class="form-section">
                                        <label>Salt</label>
                                        <textarea ng-model="currentKey.salt" ng-minlength="3" ng-maxlength="30" class="form-control"></textarea>
                                    </div>
                                    <div class="form-section">
                                        <button class="btn btn-primary" ng-click="CancelGenerateKey();">Cancel</button>
                                        <button ng-show="showGenerateKeyForm" class="btn btn-primary" ng-disabled="!currentKey.salt || !currentKey.passphrase" ng-click="GenerateKey(currentKey.passphrase,currentKey.salt,currentKey.bitSize);">Generate key</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div ng-repeat="key in encryptionKeys" class="list-group-item" ng-click="EditEncryptionKey(key);">
                    <div>
                        <h2>{{key.name}}</h2>
                        <div>Type: {{key.type}}</div>
                        <div>Created: {{key.createdOn}}</div>
                        <div>Key: {{key.key}}</div>
                        <div>
                            Alias: {{key.alias}}
                        </div>
                    </div>
                </div>

                <div class="list-group-item">
                    <button class="btn btn-danger" ng-click="ClearStoredEncryptionKeys();"> Clear all stored keys</button>
                </div>

            </div>

        </div>

    </div>
</div>
