<div ng-controller="LoginController" class="login">

    <div ng-show="successText!=null" class="alert alert-success">{{ successText }}</div>
    <div ng-show="errorText!=null" class="alert alert-danger">{{ errorText }}</div>

    <div class="scrollable content-container">
        <div class="scrollable-content overthrow">

            <div class="list-group">

                <div class="list-group-item">
                    <form class="form-signin" ng-disabled="signingin" name="signinForm" role="form">
                        <div>
                            <a ng-show="!signin.show" href="" ng-click="ShowSignin()">Back to sign in</a>
                        </div>
                        <div ng-show="signin.show">
                            <h2 class="form-signin-heading">Sign in</h2>
                            <div ng-if="signin.error.show" class="error-label">{{ signin.error.message }}</div>
                            <input type="text" ng-disabled="signingin" ng-model="credentials.userName" class="form-control" placeholder="UserName, Phone, Email" required autofocus>
                            <input type="password" ng-disabled="signingin" ng-model="credentials.password" class="form-control" placeholder="Password" required>
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" ng-disabled="signingin" ng-model="useAdminLogIn" value="useAdminLogIn"> Use Bosbec Admin Credentials
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" ng-disabled="signingin" ng-model="saveCredentials" value="saveCredentials"> Remember me
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" ng-disabled="signingin" ng-model="keepMeSignedIn" value="keepMeSignedIn"> Keep me signed in
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" ng-disabled="signingin" ng-click="Login()" type="submit"><span ng-show="!signingin">Sign in </span><i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw" ng-show="signingin"></i></button>
                            <a ng-show="credentials!=null" href="" ng-click="ClearCredentials()">Clear credentials</a>
                        </div>
                    </form>
                </div>

                <div class="list-group-item">
                    <form class="form-signin" name="registrationForm" role="form">
                        <div>
                            <h3><a ng-show="!registration.show" href="" ng-click="ShowRegistration()">Register new user</a></h3>
                        </div>
                        <div ng-show="registration.show">
                            <h3>Register new user</h3>
                            <div class="panel panel-default">
                                <div class="panel-body">The username must be at least 8 characters. The password must be at least 8 characters and contain at least one capital letter, one digit and one special character (for example !#%?)</div>
                            </div>
                            <div ng-if="registration.error.show" class="error-label">{{ registration.error.message }}</div>
                            <input type="text" ng-model="register.userName" class="form-control" placeholder="UserName (*)" required>
                            <input type="password" ng-model="register.password" class="form-control" placeholder="Password (*)" required>
                            <input type="password" ng-model="register.password2" class="form-control" placeholder="Password again (*)" required>
                            <br />
                            <button class="btn btn-lg btn-primary btn-block" ng-disabled="registrationForm.$invalid" ng-click="Register()" type="submit">Register</button>
                            <a ng-show="!registrationForm.$invalid" href="" ng-click="ClearRegistration()">Clear registration</a>
                        </div>
                    </form>
                </div>

                <div class="list-group-item">
                    <form class="form-signin" name="forgotPassword" role="form">
                        <div>
                            <h3><a ng-show="!forgotPassword.show" href="" ng-click="ShowForgotPassword()">Reset password</a></h3>
                        </div>
                        <div ng-show="forgotPassword.show">
                            <h3>Request reset password</h3>
                            <div>Enter your username, phone number or email address and we will send you a link to reset your password</div>
                            <br />
                            <div ng-if="forgotPassword.error.show" class="error-label">{{ forgotPassword.error.message }}</div>
                            <div ng-if="forgotPassword.success.show" class="success-label">{{ forgotPassword.success.message }}</div>
                            <input type="text" ng-model="forgotPassword.userName" ng-required="!(forgotPassword.userPhone || forgotPassword.userEmail)" class="form-control" placeholder="UserName">
                            <input type="text" ng-model="forgotPassword.userPhone" ng-required="!(forgotPassword.userName || forgotPassword.userEmail)" class="form-control" placeholder="Phone Number">
                            <input type="text" ng-model="forgotPassword.userEmail" ng-required="!(forgotPassword.userName || forgotPassword.userPhone)" class="form-control" placeholder="Email Address">
                            <br />
                            <button class="btn btn-lg btn-primary btn-block" ng-disabled="forgotPassword.$invalid" ng-click="RequestResetPassword(forgotPassword.userName,forgotPassword.userPhone,forgotPassword.userEmail)" type="submit">Request reset password</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="list-group-item text-center">
                Version: {{appVersion}}
            </div>
        </div>

    </div>
    
    <div ui-content-for="overlays">
        <div ng-include="'Partials/intro.htm'"></div>        
    </div>

</div>

