<div ng-controller="MessagesController">
    <div ng-show="successText!=null" class="alert alert-success">
        <i class="fa fa-envelope"></i><a href="#/conversations/{{ inbox.inboxId }}">{{ successText }}</a>
    </div>
    <div ng-show="errorText!=null" class="alert alert-danger">{{ errorText }}</div>

    <div class="scrollable content-container content-container-chat" ui-swipe-right='swipeRight();' >
        <div id="chat-container" class="scrollable-content">
            <div class="list-group">
                <div ng-show="currentPage < totalPages" class="center-block">
                    <a ng-click="LoadMore()" class="btn">Load more ... (page {{currentPage}} / {{totalPages}})</a>
                </div>
                <div ng-repeat="message in messages" id="{{'msg'+ ($index + 1)}}" class="list-group-item message-chat" ui-swipe-left='swipeLeft(message);' 
                     ng-class="{ 'message-chat-me': message.author === 'me', 'message-chat-other': message.author === 'other', 'last-message': $index >= messages.length-1}">
                    <div ng-show="showHideMessage" class="hideMessageContainer">
                        <a href="#" class="text-danger" ng-click="hideMessage(message);"><i class="fa fa-2x fa-minus-circle"></i></a>
                    </div>
                    <div ng-if="conversation.avatars" class="list-item-avatar">
                        <img class="avatar" ng-if="conversation.avatars" ng-repeat="avatar in conversation.avatars" ng-show="avatar.avatar != null && avatar.userId == message.authorId" height="50" alt="avatar" ng-src="{{ avatar.avatar }}"/>
                    </div>
                    <div>
                        <div>
                            <i ng-show="message.secure" class="fas" ng-class="{'fa-lock-open': message.encryptionError === undefined, 'fa-lock': !message.encryptionError !== undefined}"></i> <b>{{ message.authorDisplayName }}</b>
                        </div>
                        <div ng-hide="message.encryptionError" ng-bind-html="message.content"></div>
                        <div ng-show="message.encryptionError" ng-bind-html="message.encryptionError"></div>
                        <div ng-repeat="metadata in message.metaData">
                            <div ng-if="metadata._type == 'image' || metadata._type == 'file' || metadata._type == 'position' || metadata._type == 'form' || metadata._type == 'externalLink' || metadata._type == 'bosbecLink' || metadata._type == 'bosbecForm' || metadata._type == 'messageMetaDataForm'" class="attachment">
                                <a ng-if="metadata._type == 'image'" ng-click="openExternalLink(metadata.url);">
                                    <img height="50" alt="thumb" ng-src="{{ metadata.thumbnail }}" />
                                </a>
                                <a ng-if="metadata._type == 'file'" ng-click="openExternalLink(metadata.url);">
                                    <span><i class="fa fa-paperclip"></i>{{metadata.name}}</span>
                                </a>
                                <a ng-if="metadata._type == 'bosbecLink'" ng-click="openBosbecLinkInModal(metadata.url);">
                                    <span><i class="fa fa-paperclip"></i>{{metadata.name}}</span>
                                </a>
                                <a ng-if="metadata._type == 'externalLink'" ng-click="openExternalLink(metadata.url);">
                                    <span><i class="fa fa-external-link"></i>{{metadata.name}}</span>
                                </a>
                                <a ng-if="metadata._type == 'position'" ng-click="openExternalLink('https://www.google.com/maps/preview/@'+metadata.value);">
                                    <img height="50" alt="map" src="https://lh3.googleusercontent.com/MOf9Kxxkj7GvyZlTZOnUzuYv0JAweEhlxJX6gslQvbvlhLK5_bSTK6duxY2xfbBsj43H=w50" />
                                </a>
                                <a ng-if="metadata._type == 'form'" ng-click="openFormModal(message.formId)">
                                    <span><i class="fa fa-clipboard"></i>View form</span>
                                </a>
                                <a ng-if="metadata._type == 'messageMetaDataForm'" ng-click="openFormModal(message.formId)">
                                    <span><i class="fa fa-clipboard"></i>View form</span>
                                </a>
                                <a ng-if="metadata._type == 'bosbecForm'" ng-click="openBosbecFormInModal(metadata.url)">
                                    <span><i class="fa fa-clipboard"></i>View form</span>
                                </a>
                            </div>
                        </div>
                        <span class="smallDateTime" ng-class="{ 'smallDateTime-me': message.author === 'me'}">{{ message.createdOnFormatted }}</span>
                        <span ng-show="message.secure" class="smallDateTime" ng-class="{ 'smallDateTime-me': message.author === 'me'}">{{ message.encryptionKeyName }}</span>
                    </div>
                </div>
                <div id="last-message" class="list-group-item message-chat-end">
                    <div>...</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="conversation.viewSettings!='noreply'">
        <form name="newMessageForm">
            <div class="send-chat-message-container">
                <div class="send-chat-message-text"><textarea ng-model="newMessage" enter-submit="sendMessage(newMessage)" class="form-control send-chat-message-textarea" placeholder="Write a message" required></textarea></div>
                <div class="send-chat-message-btn" ng-click="sendMessage(newMessage)"><a href="" class="navbar-active-item" ng-disable="newMessagesForm.$invalid"><span><i class="zmdi zmdi-mail-send"></i></span></a></div>
            </div>
        </form>
    </div>

    <div ui-content-for="modals">
        <div ng-include="'Partials/overlay.htm'"></div>
    </div>

</div>





