<div ng-controller="MrGroupsController">
    <div class="scrollable content-container">
        <div class="scrollable-content overthrow">
            
            <div class="list-group" ng-show="items.length">
                <div ng-repeat="group in items" class="list-group-item" ng-click="OpenGroup(group.id)">
                    <div class="list-item-symbol">
                        <img class="item-symbol" alt="group-symbol" src="/www/images/mr/Group 128x128.png" />
                    </div>
                    <div>
                        {{ group.name }}<i class="fa fa-chevron-right pull-right"></i>
                    </div>
                </div>

                
            </div>

        </div>

    </div>
</div>


