<div ng-controller="MrServicesController">
    <div class="scrollable content-container">
        <div class="scrollable-content overthrow">

            <div class="list-group" ng-show="items.length">

                <div class="list-group-item">
                    <div class="service-list-item">
                        <div>
                            <a ng-click="OpenWebView('https://www.google.se')" class="btn btn-primary pull-right">Open</a><b>WebView Test</b>
                        </div>
                    </div>
                </div>

                <div ng-repeat="item in items | filter: !item.data.underConstruction" class="list-group-item">

                    <div class="service-list-item" ng-click="OpenServiceWebview(item)">
                        <!--<div class="service-list-item-icon"><i class="fa fa-3x fa-exclamation-circle"></i></div>-->
                        <div class="list-item-avatar">
                            <img class="service-list-item-image" alt="services-symbol" src="images/mr/Job-128x128.png" />
                        </div>
                        <div>
                            <a ng-click="OpenServiceWebview(item)" class="btn btn-primary pull-right">Open</a><b>{{item.data.templateName}}</b>
                        </div>
                        <!--<div>{{item.data.description | limitTo:30}}</div>-->
                    </div>

                </div>

                <div ng-if="items.length < 1" class="list-group-item">
                    <div>
                        <b>You have no services to show</b>
                    </div>

                </div>

            </div>

        </div>
    </div>
    
    <div ui-content-for="modals">
        <div ng-include="'Partials/overlay.htm'"></div>
    </div>

</div>





