<div ng-controller="FormModalController" class="modal modal-overlay formModal" ui-if="formModal" ui-state="formModal">
    <div class="modal-dialog">
        <div class="modal-header">
            <div>
                <a href="" class="modal-close" ui-turn-off="formModal"><i class="fa fa-2x fa-times-circle"></i></a>
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-body" style="">
                <iframe class="formModalIframe" src="{{ activeFormUrl | trustUrl }}" iframe-onload="iframeLoadedCallBack()" style="width: 100% !important; height: 100% !important; overflow: scroll !important; -webkit-overflow-scrolling: touch !important" scrolling="yes"></iframe>
            </div>
        </div>
    </div>
</div>

