<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.bosbec.mr-app"
        version   = "0.3.98">
  <!--<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "se.bosbec.Messmr1"
        version   = "4.0.17">-->
  <!-- VERSION HERE -->

  <name>Bosbec</name>

  <description>
    Bosbec app
  </description>

  <author href="http://bosbec.com/" email="support@bosbec.com">
    Bosbec Team
  </author>

  <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>0.3.98</string>
    <!--<string>4.0.17</string>-->
    <!-- VERSION HERE -->
  </gap:config-file>

  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#FFFFFF" />

  <!--
    Define access to external domains.
    <access />            - a blank access tag denies access to all external resources.
    <access origin="*" /> - a wildcard access tag allows access to all external resource.
    Otherwise, you can specify specific domains:
    <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
    <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
    <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
-->
  
  <access origin="*"/>
  
  <plugin name="cordova-plugin-inappbrowser" />
  
  <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
  <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
  <plugin name="cordova-plugin-whitelist" version="1" />
  
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>

</widget>


