body {
    background-color: #f7f7f7;
}

.navbar-app {
    height: 80px;
}

.navbar-header {
    padding-top: 30px;
}

.navbar-footer {
    background-color: #f7f7f7;
}

.has-navbar-top .app-body {
    padding-top: 80px;
}

.has-navbar-bottom .app-body {
    padding-bottom: 80px;
}

.content-container {
    margin-top: 80px;
    padding-bottom: 150px;
}

.app-body {
    padding-top: 80px;
}

#mainSidebar {
    margin-top: 30px;
}

#rightSidebar {
    margin-top: 40px;
}

.send-chat-message-container {
    padding-bottom: 30px;
}

.modal-header {
    height: 80px;
    padding-top: 40px;
    background-color: #2196f3;
    border-bottom: 0;
}

.modal-close {
    margin-top: 0;
}