body {
    background-color: #f7f7f7;
    padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}

.navbar-app {
    height: 81px;
}

.navbar-header {
    padding-top: 30px;
}

.navbar-footer {
    margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
    margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
    background-color: #f7f7f7;
}

.has-navbar-top .app-body {
    padding-top: 89px;
}

.has-navbar-bottom .app-body {
    padding-bottom: 81px;
}

.content-container {
    margin-top: 80px;
    padding-bottom: 150px;
}

.app-body {
    padding-top: 80px;
}

#mainSidebar {
    margin-top: 30px;
}

#rightSidebar {
    margin-top: 40px;
}

.send-chat-message-container {
    padding-bottom: 30px;
}